@import '../mixins-and-variables';

$review-app-min-height: 710px;
$product-images-height-lg: 173px;
$product-images-height-normal: 136px;


#reviewapp {
    
    min-height:$review-app-min-height;

    #review-app-inner {

        position: relative;
        width:100%;

        //the product 
        .product{

            //override bootstrap padding to zero
            padding: 0px !important;

            //added when the product is reviewed
            .low-opacity {
                opacity: 0.2;
            }

            //the check mark symbol
            i {
                position: absolute;
                color: green;
                left: 0;
                right: 0;
                z-index: 3;
                font-size: 3em;
                @include large-screen {
                    top:60px;
                }
                @include normal-screen {
                    top: 45px;
                }
            }

            //inner container
            .product-inner {
                padding: 5px;
                padding-bottom: 15px;
                margin: 5px;
                text-align:center;
                //product title
                h5 {
                    padding: 5px;
                    margin-bottom: 15px;
                    //so it stays on one line
                    @include large-screen {
                        height:25px;
                    }
                    //two lines
                    @include normal-screen {
                        height: 40px;
                    }
                }
                .checkmark-container {
                    position:relative;
                }
                .img-container{
                    position:relative;
                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    position: relative;
                    img {
                        height:100%;
                        margin: 0 auto;
                    }
                    @include large-screen {
                        height: $product-images-height-lg;
                    }
                    @include normal-screen {
                        height: $product-images-height-normal;
                    }
                    
                }
            }
        }
    }
}
.side-bar {
    #shuffle-button{
        margin-top:20px;
    }
}
.side-bar{
    .tags-group{
        line-height: 20px;
        label {
            margin-right: 2px;
            margin-bottom: 2px;
        }
    }
}
#review-widget{
    .tab-pane.fade {
        -webkit-transition: opacity .05s linear;
        -o-transition: opacity .05s linear;
        transition: opacity .05s linear;
    }
    .btn-danger{
        margin-left: 5px;
    }
    .bottom-btn {
        width: 75px;
    }
    #stars-container {
        margin-bottom:20px;
        color: #337ab7;
    }
    
    //The animation when the widget comes in!
    .product-image {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .ajax-loader {
        margin-left: 5px;
    }
    .inner {
        padding: 15px;
    }
    .form-comments{
        width: 100%;
        margin-bottom: 15px
    }
    .description{
        height: 100%;
        overflow: auto;
    }
    .tab-panel {
        margin-bottom: 10px;
    }
    .tab-content {
        min-height: 156px;
        position: relative;
        padding: 5px;
    }
    #recommend {
        margin-bottom: 20px;
    }
    .star {
        cursor: pointer;
    }
    &.example-enter {
        top: 40%;
        opacity: 0.01;
        transition: all 0.17s linear;
    }

    &.example-enter.example-enter-active {
        top: 50%;
        opacity: 1;
    }
    &.example-leave {
        top: 50%;
        opacity: 1;
        transition: all 0.15s ease-out;
    }

    &.example-leave.example-leave-active {
        top: 48%;
        opacity: 0.01;
    }
}

//the effect used on inner product pages
.effect6
{
    position:relative;       
    @include box-shadow(
        0 1px 4px rgba(0,0,0,0.3),
        0 0 40px rgba(0,0,0,0.1) inset
    );
}
#overlay {
    -moz-animation-duration: .6s;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
}
#review-widget {
    -moz-animation-duration: .6s;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
}
//used when the review widget comes in
.will-fade{
    opacity: 1;
    transition: opacity 0.1s;
}
.will-fade.fade {
    opacity: 0.2;
}
//an overlay div to dismiss review widget when clicked
#overlay {
    /* position:fixed; */
    /* z-index:998; */
    /* height:100%; */
    /* width:100%; */
    /* top: 0; */
    /* left: 0; */
}

#return-to-top {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-animation-duration: .6s;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
}
