#particles-js{
    width:100%;
    height:100%;
    position:fixed;
    z-index: -1;
}

.content {
    left: 50%;
    width:500px;
    top:50%;
    height:300px;
    margin-top: -150px;
    margin-left: -250px;
    position: fixed;
    
}
#content-success {
    display:none;
}
body{
    background-color: black;
}

#sharing {
    margin-top:30px;
    margin-bottom:10px;
}


