@import '../_mixins-and-variables';
@import '../_bootstrap-custom';

$product-images-height-normal: 136px;
$product-images-height-lg: 173px;
$wishlist-app-min-height-large: 864px;
$wishlist-app-min-height-normal: 860px;
$topmenu-height: 40px;

#wishlist-app{
    @include large-screen {
        min-height: $wishlist-app-min-height-large;
    }
    //two lines
    @include normal-screen {
        min-height: $wishlist-app-min-height-normal;
    }
}

#productbox{
    display: none;
}

#sidebar{
    margin-top: $topmenu-height;
    height: 500px;
    padding: 5px;
    #shuffle-button{
        margin-top:20px;
    }
}

.product-container {
    padding: 5px;

    // The box containing the product
    .product {
        text-align: center;
        padding: 20px;
        height: 100%;

        // Product name
        h5 {
            padding: 5px;
            margin-bottom: 15px;
            //so it stays on one line
            @include large-screen {
                height:25px;
            }
            //two lines
            @include normal-screen {
                height: 40px;
            }
        }

        // Product cover
        img {
            height:$product-images-height-normal;
            margin-bottom: 10px;
            @include large-screen {
                height:$product-images-height-lg;
            }
            @include normal-screen {
                height:$product-images-height-normal;
            }
        }
    }
}

#product-widget {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 900px;
    margin-left: -450px;
    margin-top: -287px;
    height: auto;
    padding: 10px 30px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221);
    @include box-shadow(0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1));
    @include ipad {
        width: 700px;
        margin-left:-350px;
    }
}

#topmenu{
    border-bottom: 1px solid #CCC;
    height: $topmenu-height;

    .tab {
        height: $topmenu-height;
        display: inline-block;
        float: left;
        bottom: 0;
        padding: 5px 20px;
        background-color: white;
        border: 1px solid #CCC;
        border-left: none;
        div {
            cursor: pointer;
            @include vertical-align;
        }
    }
    .active {
        border-bottom: none;
    }
    .no-active {
        background-color: #F9F9F9;
        div {
            opacity: 0.7;
        }
        
    }
    .tab:first-child{
        border-left: 1px solid #CCC;
    }
}
#products-container{
    padding-top: 30px;
    height: 500px;

}

.effect6
{
    position:relative;       
    @include box-shadow(
        0 1px 4px rgba(0,0,0,0.3),
        0 0 40px rgba(0,0,0,0.1) inset
    );
}
