$large-width: 1200px;
$normal-width: 975px;
$ipad: 900px;

@mixin large-screen {
    @media screen and (min-width: #{$large-width}){
        @content;
    }
}

@mixin ipad {
    @media screen and (max-width: #{$ipad}){
        @content;
    }
}

@mixin normal-screen {
    @media screen and (max-width: #{$large-width - 1px}){
        @content;
    }
}

@mixin box-shadow($shadow1, $shadow2:false) {

 $params: $shadow1;

  @if $shadow2 
    { $params: $shadow1, $shadow2; }

  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;
}
