#branding {
    h1 {
        a:link, a:visited {
            color: white;
            font-family: "Helvetica Neue";
            font-weight: lighter;
            font-size: 1.4em;

        }
    }
}

#header {
    color: white;
    background-color:#022844;
    border-bottom: 1px solid rgb(0, 109, 200);
    #user-tools {
        font-size: 1.0em;
    }
    a:link, a:visited {
        color: #96E7FF;
    }
}

