@import 'bootstrap-custom';
html, body {
    height:100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 63px;
}
.example-enter {
      opacity: 0.01;
        transition: opacity .5s ease-in;

}
.example-enter.example-enter-active {
      opacity: 1;

}

h1 {
    font-family: 'Lobster', cursive;
}

.alert {
    padding: 5px 8px;
    background: none;
    margin: 0px;
}
.example-leave {
      opacity: 1;
        transition: opacity .5s ease-in;

}

.example-leave.example-leave-active {
      opacity: 0.01;

}
#overlay {
    display: none;
}
