@import '_mixins-and-variables';
@import '_bootstrap-custom';

$product-images-height-normal: 136px;
$product-images-height-large: 173px;
$wishlist-app-min-height-large: 864px;
$wishlist-app-min-height-normal: 860px;
$topmenu-height: 40px;


// The height of the app
#wishlist-app{
    @include large-screen {
        min-height: $wishlist-app-min-height-large;
    }
    //two lines
    @include normal-screen {
        min-height: $wishlist-app-min-height-normal;
    }
}

#overlay{
    position:fixed;
    z-index: 998;
    width:150%;
    top: -25%;
    left: -25%;
    height:150%;
    /* display:lock; */
    background-color: rgba(0,0,0,0.4);
    -webkit-transform: translateZ(0);
    -moz-animation-duration: .6s;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
}
#productbox{
    display: none;
}

#sidebar{
    margin-top: $topmenu-height;
    height: 500px;
    padding: 5px;
    #shuffle-button{
        margin-top:20px;
    }
}

.product-container {
    padding: 5px;

    // The box containing the product
    .product {
        text-align: center;
        padding: 20px;
        height: 100%;

        .star-container {
            position: relative;
        }


        i {
            position: absolute;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
            color: yellow;
            left: 0;
            right: 0;
            z-index: 3;
            font-size: 4em;
            @include large-screen {
              left: 4px;
              top:60px;
            }
            @include normal-screen {
              left: 3px;
              top: 45px;
            }
        }

        .low-opacity {
            opacity: 0.3;
        }

        // Product name
        h5 {
            padding: 5px;
            margin-bottom: 15px;
            //so it stays on one line
            @include large-screen {
                height:25px;
            }
            //two lines
            @include normal-screen {
                height: 40px;
            }
        }

        // Product cover
        .sm-img-container {
            position:relative;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 10px;
            position: relative;
            @include large-screen {
                height: $product-images-height-large;
            }
            @include normal-screen {
                height: $product-images-height-normal;
            }
            img {
                height: 100%;
                margin: 0 auto;
            }
        }
    }
}
#product-widget {
    /* padding: 10px 30px!important; */
    .product-image {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    .inner {
        padding: 15px;
        position:relative;
    }
    .btn-margin {
        margin-bottom: 20px;
    }
    // the col containing the review
    .review-container {
        position: relative;
        right: 0;
        height: 100%;
    }
    .review-inner{
        position: relative;
        height:100%;
        .review-anim-enter {
            opacity: 0.01;
            transition: opacity .5s ease-in;
        }
        .review-anim-enter.review-anim-enter-active {
            opacity: 1;
        }
        .review-anim-leave {
            opacity: 1;
            transition: opacity .5s ease-in;
        }
        .review-anim-leave.review-anim-leave-active {
            opacity: 0.01;
        }
    }
    .reviewers {
        margin-top: 0px;
        margin-bottom: 20px;
        h4 {
            margin-bottom:20px;
        }
        .reviewers-inner {
            margin: 0 auto;
            width: 80%;
            text-align: center;
        }
        .reviewer.not-slicked {
            display: inline-block;
            margin-right: 50px;
            text-align: center;
        }
        .reviewer {
            .username {
                cursor: pointer;
                display: block;
            }
            i {
                cursor: pointer;
                display: inline-block;
            }

        }
    }
}

.profile-pic-container {
  img {
    width: 200px;
    height:200px;
  }
}

.product-list__product {
  text-align: center;
  img {
    width: 73px;
    height: 110px;
    margin: 0 auto;
    display:block;
  }
  h4 {
    
  }
}
.slick-next:before, .slick-prev:before {
                       
  color: black !important;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0!important;
}

.friend-container {
  text-align: center;
  img {
    width: 100px;
    margin: 0 auto;
    display:block;
  }
}

#rects {
    margin-top: 20px;
    position: relative;
    opacity: 0.08;
    .rect {
        background-color: rgb(51, 51, 51);
        height: 15px;
        margin-bottom: 15px;
    }
    #rect1 {
        width: 40%;
    }
    #rect2 {
        width: 60%;
    }
    #rect3 {
        width: 20%;
    }
    #rect4 {
        width: 80%;
    }
    #rect5 {
        width: 30%;
    }
}

#topmenu{
    border-bottom: 1px solid #CCC;
    height: $topmenu-height;

    .tab {
        height: $topmenu-height;
        display: inline-block;
        float: left;
        bottom: 0;
        padding: 5px 20px;
        background-color: white;
        border: 1px solid #CCC;
        border-left: none;
        div {
            cursor: pointer;
            @include vertical-align;
        }
    }
    .active {
        border-bottom: none;
    }
    .no-active {
        background-color: #F9F9F9;
        div {
            opacity: 0.7;
        }
        
    }
    .tab:first-child{
        border-left: 1px solid #CCC;
    }
}
#products-container{
    padding-top: 30px;
    height: 500px;

}

.effect6
{
    position:relative;       
    @include box-shadow(
        0 1px 4px rgba(0,0,0,0.3),
        0 0 40px rgba(0,0,0,0.1) inset
    );
}

.fadeIn-enter {
    opacity: 0.01;
}
.fadeIn-enter.fadeIn-enter-active{
    opacity: 1;
    transition: opacity .3s ease-in;
}
.fadeIn-leave {
    opacity: 1;
}
.fadeIn-leave.fadeIn-leave-active{
    opacity: 0.01;
    transition: opacity .3s ease-in;
}


#wishlist-container{
  /* white-space:nowrap; */
  &__inner {
  }
  /* overflow-x: auto; */
}


.wishlist-container__wish {
  margin-right: 12px;
  margin-left: 12px;
  width: 120px;

  h5 {
    text-align: center;
    font-size: 1.1em;
  }

  button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  .sm-img-container {

    margin: 0 auto;
    position: relative;
    
    @include large-screen {
        /* min-height: $product-images-height-large; */
        height: 110px;
    }

    @include normal-screen {
        /* min-height: $product-images-height-normal; */
        height: 110px;
    }
    
    img {
      display: block;
      margin: 0 auto 10px;
      height: 100%;
    }
  }
}

.user-page {
  &__see-review-button {
    margin-top: 10px;
  }
}
