@import 'mixins-and-variables';

$review-widget-top: 0px;
$review-widget-top-init: $review-widget-top - 60px;
$review-app-min-height: 710px;
$product-images-height-lg: 173px;
$product-images-height-normal: 136px;

#reviewapp {

    min-height:$review-app-min-height;
    #review-app-inner {
        position: relative;
        width:100%;

        //contains all the carousel pages
        .product-pages {

            //the little nav arrows for the carousel
            #arrows {
                position: relative;
                height:34px;
                .arrow {
                    top:10px;
                }
                #left-arrow {
                    z-index:1;
                    margin-left: 25px;

                }
                #right-arrow {
                    z-index:1;
                }

            }

            //one carousel page
            .product-page {
                padding: 20px;

                //the product 
                .product{
                    //override bootstrap padding to zero
                    padding: 0px !important;

                    //added when the product is reviewed
                    .low-opacity {
                        opacity: 0.2;
                    }

                    //the check mark symbol
                    i {
                        position: absolute;
                        top: 45px;
                        color: green;
                        left: 0;
                        right: 0;
                        z-index: 3;
                        font-size: 3em;
                    }

                    //inner container
                    .product-inner {
                        padding: 5px;
                        padding-bottom: 15px;
                        margin: 5px;
                        text-align:center;
                        //product title
                        h5 {
                            padding: 5px;
                            margin-bottom: 15px;
                            //so it stays on one line
                            @include large-screen {
                                height:25px;
                            }
                            //two lines
                            @include normal-screen {
                                height: 40px;
                            }
                        }
                        .img-container{
                            position:relative;
                            width: 90%;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            overflow: hidden;
                            img {
                                width: 90%;
                                margin: 0 auto;
                            }
                            @include large-screen {
                                height: $product-images-height-lg;
                            }
                            @include normal-screen {
                                height: $product-images-height-normal;
                            }
                        }
                    }
                }
            }
        }

        .side-bar {
            #shuffle-button{
                margin-top:20px;
            }
        }
        .side-bar{
            .tags-group{
                line-height: 20px;
                label {
                    margin-right: 2px;
                    margin-bottom: 2px;
                }
            }
        }
        #review-widget{
            position:absolute;
            padding: 10px 30px;
            z-index:999;
            top: $review-widget-top;
            height: auto;
            background-color: #FFF;
            border: 1px solid rgb(221, 221, 221);
            @include box-shadow(10px 10px 49px 0px rgba(0,0,0,0.09));
            //The animation when the widget comes in!
            .product-image {
                width: 90%;
            }
            .ajax-loader {
                margin-left: 5px;
            }
            .inner {
                padding: 15px;
            }
            .form-comments{
                width: 100%;
                margin-bottom: 15px
            }
            .description{
                height: 100%;
                overflow: auto;
            }
            .tab-panel {
                margin-bottom: 10px;
            }
            .tab-content {
                padding: 5px;
            }
            #recommend {
                margin-bottom: 20px;
            }
            &.example-enter {
                top: $review-widget-top-init!important;
                opacity: 0.01;
                transition: all 0.17s linear;
            }

            &.example-enter.example-enter-active {
                top: $review-widget-top!important;
                opacity: 1;
            }
            &.example-leave {
                top: $review-widget-top!important;
                opacity: 1;
                transition: all 0.15s ease-out;
            }

            &.example-leave.example-leave-active {
                top: $review-widget-top-init!important;
                opacity: 0.01;
            }

        }
    }
}

//the effect used on inner product pages
.effect6
{
    position:relative;       
    @include box-shadow(
        0 1px 4px rgba(0,0,0,0.3),
        0 0 40px rgba(0,0,0,0.1) inset
    );
}

//used when the review widget comes in
.will-fade{
    opacity: 1;
    transition: opacity 0.1s;
}
.will-fade.fade {
    opacity: 0.2;
}
//an overlay div to dismiss review widget when clicked
#overlay {
    position:fixed;
    z-index:998;
    height:100%;
    width:100%;
    top: 0;
    left:0;
}
