$review-widget-height: 0px;
$review-widget-height-init: $review-widget-height - 60px;

body, html {
    height:100%;
}
#reviewapp {
    min-height:700px;
}
.movie {
    float: left;
    overflow: auto;
    .low-opacity {
        opacity: 0.2;
    }
    i {
        position: absolute;
        top: 45px;
        color: green;
        left: 0;
        right: 0;
        z-index: 3;
        font-size: 3em;
    }
    .img-container{
        position:relative;
        .image-inner-container {
            
        }
    }
    /*     height: 385px; */
    /* overflow:scroll; */
    width: 157px;
}
.popover {
    z-index: 999;
}

.info-box {
    text-align:right;
    height: 45px;
    padding: 5px;
    .next-button {
        margin-right: 40px;
    }
    .well {
        margin-top:5px;
        text-align:left;
    }
}
.movie-inner {
    padding: 5px;
    padding-bottom: 15px;
    margin: 5px;
    text-align:center;
    //Over 222, movies get on 2 columns
    h5 {
        padding: 5px;
        margin-bottom: 15px;
    }
    img {
        width: 95px;
        height: 142px;
        margin: 0 auto;
        margin-bottom: 10px;

    }
    .reviewed-label {
        font-size: 100%;
        font-weight: normal;
        padding: 6px 10px;
    }
}
.effect6
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.side-bar {
    #shuffle-button{
        margin-top:20px;
    }
}

.movie-page {
    padding: 20px;
    text-align: center;
}
.movie-pages {
    #arrows {
        position: relative;
        height:34px;
        .arrow {
            top:10px;
        }
        #left-arrow {
            z-index:1;
            margin-left: 25px;

        }
        #right-arrow {
            z-index:1;
        }

    }
}
#review-app-inner {
    position: relative;
    width:100%;
}
.side-bar{
    .tags-group{
        line-height: 20px;
        label {
            margin-right: 2px;
            margin-bottom: 2px;
        }
    }
}
#review-widget-container {
}
#review-widget{
    position:absolute;
    padding: 10px 30px;
    z-index:999;
    top: $review-widget-height;
    height: auto;
    background-color: #FFF;
    border: 1px solid rgb(221, 221, 221);
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.09);
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.09);
    .movie-image {
        width: 90%;
    }
    .ajax-loader {
        margin-left: 5px;
    }
    .inner {
        padding: 15px;
    }
    .form-comments{
        width: 100%;
        margin-bottom: 15px
    }
    .description{
        height: 100%;
        overflow: auto;
    }
    .tab-panel {
        margin-bottom: 10px;
    }
    .tab-content {
        padding: 5px;
    }
    #recommend {
        margin-bottom: 20px;
    }
};
#review-widget.example-enter {
  top: $review-widget-height-init;
  opacity: 0.01;
  transition: all 0.1s ease-in;
}

#review-widget.example-enter.example-enter-active {
    top: $review-widget-height;
    opacity: 1;
}
#review-widget.example-leave {
    top: $review-widget-height;
  opacity: 1;
  transition: all 0.1s ease-out;
}

#review-widget.example-leave.example-leave-active {
  top: $review-widget-height-init;
  opacity: 0.01;
}

.will-fade{
    opacity: 1;
    transition: opacity 0.1s;
}

.will-fade.fade {
    opacity: 0.2;
}

#overlay {
    position:fixed;
    z-index:998;
    height:100%;
    width:100%;
    top: 0;
    left:0;
}
